/* @theme default_v2 */

@import "default";

/* クラス名未指定全スライド共通設定 */
section {
    /* フォント指定 */
    font-family: "游ゴシック", "Noto Sans JP", Cica, Arial,
        Meiryo, sans-serif;

    /* スライドのサイズを指定 デフォルトでは16:9 */
    /* width: 100%;
    height: 100%; */
}

h2 {
    vertical-align: top;
}

h3 {
    vertical-align: top;
}